<form method="post" class="form-signin">
    {{#each errorMessages}}
        <div class="red-text text-darken-2">
            {{this.msg}}
        </div>
      {{/each}}
    <h3>New account</h3>
       <form class="col s12" method="post">
  
    
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate" name="name" value={{name}}>
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email" value={{email}}>
          <label for="email">Email</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password" value={{email}}>
          <label for="password">Password</label>
        </div>
      </div>
          <div class="row">
        <div class="input-field col s12">
          <input id="passwordConfirm" type="password" class="validate" name="passwordConfirm" value={{email}}>
          <label for="passwordConfirm">Confirm Password</label>
        </div>
      </div>
     
       
      
<button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
     
      
     
    </form>
</form>


